header{
    background-color: whitesmoke;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
        background-color: #fff; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

body{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
}
#navigation {
    display: flex;
    width: 100%;            
    padding: 10px 0;        
    justify-content: flex-end;
    align-items: center;
}
#navigation a {
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    }
    #navigation a:hover {
    text-decoration: underline;
    }

#formulaire {
    flex-wrap: wrap;
    border: 1px lightgrey solid;
    border-radius: 20px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: red;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.formulaire {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.fieldGroup {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fieldGroup label {
    display: block;
    width: 33%;
    font-weight: bold;
}

.fieldGroup input {
    border-radius: 50px;
    height: 40px;
    border: 1px solid purple;
    flex-grow: 1;
}
#menu{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    
}
.menuIta{
    text-align: center;
    margin-bottom: 20px;
}
.pizza {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: #f9f9f9;
}
.pates {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: #f9f9f9;
}
.divers {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: #f9f9f9;
}
#image .image_list {
    display: flex; /* Utilise flexbox pour disposer les éléments sur une ligne */
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Enlève le padding par défaut de la liste */
    margin: 0; /* Enlève la marge par défaut de la liste */
    flex-wrap: wrap;
}

#image .image_item {
    margin-right: 10px; /* Espace entre les images */
}

#image .image_item img {
    max-height: 300px; /* Définit la hauteur maximale de l'image */
    justify-content: space-around;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
#image{
    justify-content: center;
    margin: 40px;
}
.button{
    display: flex;
    transition: background-color 1s ease-out;
    background-color: aliceblue;
    justify-content: center;
    font-size: larger;
}
button:hover{
    background-color: purple;
}
#restoPresentation{
    display: flex;
}
p.presentation{
    font-size: medium;
}
footer{
    background-color: grey;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
ul.rs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
ul.rs li img{
    width: auto;
    transition: transform 0.5s ease;
    
}
ul.rs li img:hover{
    transform: scale(1.5);
}
#btn{
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: grey;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode button {
    background-color: #444;
}
body.dark-mode button:hover {
    background-color: whitesmoke;
}